services:
  app:
    build:
      target: dev
    volumes:
      - ./src:/app/src

  sync_worker:
    build:
      target: sync_worker_dev
      context: .
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - db-volume:/db
      - ./src:/app/src
