:root {
  --text-color: #0b0c0c;
  --border-color: #b1b4b6;
  --link-color: #1d70b8;
  --link-hover-color: #003078;
  --focus-color: #ffdd00;
  --green-color: #00703c;
  --green-darkened-color: #005a30;

  font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  overflow-wrap: break-word;
}

:focus-visible {
  z-index: 1;
  outline: var(--focus-color) solid 3px;
}

body {
  color: var(--text-color);
  margin: 0 auto 5rem;
  max-width: 75ch;
  padding: 0 0.5rem;
}

a,
a:visited {
  color: var(--link-color);
  text-underline-offset: 0.16em;
}
a:hover {
  color: var(--link-hover-color);
  text-decoration-thickness: 3px;
}

a:active {
  color: var(--text-color);
  background: var(--focus-color);
}

li {
  margin-bottom: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  text-align: left;
}

th,
td {
  padding: 10px 20px 10px 0;
  border-bottom: 1px solid var(--border-color);
}

th:last-child,
td:last-child {
  padding-right: 0;
}

dl {
  padding: 12px 0;
  margin-bottom: 1.5rem;

  @media screen and (min-width: 60ch) {
    display: grid;
    grid-template-columns: 3fr 7fr;
    column-gap: 1rem;
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin-left: 0;
    margin-bottom: 6px;
  }
}

input,
textarea {
  appearance: none;
  border: 2px solid var(--text-color);
  display: block;
  margin: 0.5rem 0 2rem;
  padding: 0.8rem;
  width: 100%;
  box-sizing: border-box;
}

button {
  color: white;
  font-size: 120%;
  background: var(--green-color);
  padding: 10px 20px;
  border: 0;
  border-bottom: 3px solid black;
}

button:hover {
  background: var(--green-darkened-color);
}

button:active {
  position: relative;
  top: 3px;
}

caption {
  font-weight: 700;
  display: table-caption;
  text-align: left;
}

.page-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.page-nav__logo {
  height: 4rem;
  margin: 0;
}

.passed_training_quiz_row {
  background-color: lightgreen;
}

.failed_training_quiz_row {
  background-color: lightgrey;
}
